.company-img{
    width: 100px;
    height: auto;
}

.heading{
    background-color: #ef4823;
    height: 10%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.heading-link{
    color: white;
    text-decoration: none;
    font-size: 36px;
}

header.heading div.container{
    padding-top: 1%;
}

.col-auto{
    margin-right: 5%;
}

.card-img-top{
    width: 80px;
    height: auto;
}
.card {
    border: none;
}

.description{
    padding-top: 2%;
    color: #55595f;
    line-height: 1.6em;
}

.col, .col-auto{
    margin-top: 3%;
}

.row{
    border-top: 2px solid #f1f5f6;
}

.company-heading-details{
    margin-top: 10%;
    margin-bottom: 3%;
}

.card-footer{
    border: none;
    background-color: transparent;
    /* padding-left: 4%; */
    padding: 0px;
}
.location{
    border: 1px solid #9191a6;
    display: flex;
    padding-top: 2%;
    margin-top: 3%;
    padding-bottom: 2%;
}

.location-icon{
    width: 30px;
    height: auto;
    margin: 0 5% 0 5%;
}

.city-name{
    color: #2b3037;
    border-left: 2px solid #030334;
    padding-left: 2%;
    margin-bottom: 0px;
    width: 100%;
    margin: auto;
}

.events-list{
   margin-left: 5%;
   width: 130%;
   margin-top: -4%;
}

.main{
    display: block;
    width: 100%;
}

.c-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.companies-title{
    font-size: 28px;
    margin: 0px;
    margin-top: 7%;
}

.companies-text{
    font-size: 16px;
    margin-top: -5px;
}

.company-title{
    border-left: 3px solid #1dbddf;
    padding-left: 8%;
    margin-left: -10%;
}

.card-body{
    padding: 0px;
}

.date{
    color: #f1441b;
}

.card-event{
    width: 160px;
}

.event-body{
    margin-bottom: 20%;
}

.event-title{
    margin-bottom: 5%;
}

#event-card{
    padding-top: 5%;
}